<!DOCTYPE html>
        <html lang="pt-BR">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Currículo</title>
        </head>
        <body>
            <h1>Currículo</h1>

            <h2>Informações Pessoais</h2>
            <ul>
                <li><strong>Nome:</strong> Davi Maliniak</li>  
                <li><strong>Email:</strong> davimaliniak@gmail.com</li>
                <li><strong>Telefone:</strong> (31) 98265-8428</li>
                <li><strong>Endereço:</strong> Bairro Castelo</li>
            </ul>

            <h2>Experiência Profissional</h2>
            <ul>
                <li><strong>Empresa:</strong> Google</li>
                <li><strong>Cargo:</strong> CEO</li>
                <li><strong>Período:</strong> Janeiro 2020</li>
            </ul>
            
            <h2>Educação</h2>
            <ul>
                <li><strong>Escola:</strong> Colegio Cotemig</li>
                <li><strong>Curso:</strong> Desenvolvimento Web e Mobile</li>
                <li><strong>Periodo:</strong> 3 anos</li>
            </ul>
            
        </body>
        </html>